* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

.maincontainer {
    display: flex;
}

.sidebar {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    border: 1px solid rgba(39, 41, 55, 0.12);
    /* height: 1080px;
    width: 290px; */
}

.profile {
    display: flex;
    align-items: center;

    margin-left: 26px;
    margin-top: 26px;
    gap: 12px;

}

.avtar {
    height: 48px;
    width: 48px;
    left: 0px;
    top: 0px;
    border-radius: 64px;
    border: 0.5px solid rgba(0, 0, 0, 0.08);
}

.name {
    display: flex;
    flex-direction: column;

}

.t16medium {

    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.6000000238418579px;
    text-align: left;
}

.t12regular {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.3px;
}

.discr {
    color: rgba(39, 41, 55, 0.75);
}

.mainmenu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* width: 290px;
    height: 676px; */
    margin-top: 40px;
}

.menutitle {
    padding: 0px 26px;


    color: rgba(39, 41, 55, 0.35);
}

.t12medium {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.3px;
}

.menu1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 9px;
    gap: 2px;
    /* align-items: center; */
    justify-content: center;

}

.submenu {
    display: flex;
    padding: 10px;

    gap: 13px;
}

.icon {
    width: 24px;
    height: 24px;
}

/* .submenutext {
    width: 200px;
    height: 24px;
} */

.t16regular {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.6px;
}

.menu2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 9px;
    gap: 2px;
    /* align-items: center; */
    justify-content: center;
    /* width: 290px;
    height: 168px; */
}

.submenu2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    /* width: 258px;
    height: 44px; */
    gap: 13px;
    top: 10px;
    right: 32px;
}

.submenutext2 {
    width: 172px;
    height: 24px;
}

.icon2 {
    width: 21px;
    height: 21px;
}

.icon3 {
    height: 10.585797309875488px;
    width: 6.292892932891846px;
    margin-right: 32px;
    margin-top: 6.71px;
}

.menu3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 9px;
    gap: 2px;
    justify-content: center;
    
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px;
    gap: 8px;
    height: 36px;
    background: #FFFFFF;
    border: 1px solid rgba(39, 41, 55, 0.35);
    border-radius: 8px;
    margin-top: 240px;
}

/* .btntext {
    width: 45px;
    height: 20px;
} */

.t14semibold {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.1px;
}

.icon4 {
    width: 12.55px;
    height: 18.23px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* width: 1030px;
height: 889px; */
    margin-left: 60px;
    margin-top: 60px;
    gap: 37px;
    position: relative;
}

.cHead {
    display: flex;
    align-items: flex-start;
    /* gap: 698px; */
    justify-content: space-between;
    width: 100%;

}

.cheadText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    width: 280px;
    height: 104px;

}

.h40semibold {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 44px;
    letter-spacing: -1.5px;
}

.t14regular {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */

    letter-spacing: -0.1px;

}

.lIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px;
    gap: 10px;
    box-sizing: border-box;
    width: 52px;
    height: 52px;
    background: #FFFFFF;
    border: 1px solid rgba(39, 41, 55, 0.35);
    border-radius: 8px;
}

.tabbar {
    display: flex;
    align-items: flex-end;
    border-bottom: 1px solid rgba(39, 41, 55, 0.12);
    width: 100%;
}

.tabs {
    display: flex;
    height: 44px;
    gap: 30px;
}

.tab {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab:hover {
    color: #1991FF;
    border-bottom: 1px solid #1991FF;
}

.pricing {
    display: flex;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
}

.card {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
    /* width: 327.33px;
    height: 476px; */
    border: 1px solid rgba(39, 41, 55, 0.12);
    border-radius: 20px;
    gap: 24px;

}

.titlecard {
    display: flex;
    flex-direction: column;
   width: 100%;
    height: 84px; 
    gap: 16px;
}

.planname1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    gap: 8px;
    width: 59px;
    height: 24px;
    border-radius: 16px;
    background: rgba(39, 41, 55, 0.05);

}

.planname2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 59px;
    height: 24px;
    border-radius: 16px;
    background: #4FC62B; color:#ffffff;
}

.planname3 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 59px;
    height: 24px;
    border-radius: 16px;
    background: rgba(25, 145, 255, 0.1); color:#1991FF;
}

.t12semibold {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.3px;
}

.price {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 0px;
    gap: 4px;

    /* width: 263.33px;
    height: 44px; */
}

.price1 {
    /* width: 69px;
    height: 44px; */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 44px;
    letter-spacing: -1.5px;
}

.price2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.8px;
}

.check {
    display: flex;
    flex-direction: column;
    gap: 16px;
    /* width: 263.33px;
    height: 184px; */
}

.benefits {
    display: flex;
    gap: 10px;
}

.icon5 {
    height: 20px;
    width: 20px;
    left: 2px;
    top: 2px;
    border-radius: 0px;
}

.textbox {
    /* width: 229.33px;
    height: 24px; */
}

.ftext {
    display: none;
    z-index: 1;
    position: relative;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    opacity: 0;
    padding: 6px 8px;
    gap: 10px;

    background: #272937;
    border-radius: 5px;
    color: #ffff;
    transition: 1s;
}

.textbox:hover .ftext {
   display: block;

    opacity: 1;
}

.subscribe1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px, 20px, 14px, 20px;
    width: 100%;
    height: 52px;
    background: #FFFFFF;
    border: 1px solid rgba(39, 41, 55, 0.35);
    border-radius: 8px;
}

.subscribe2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding:14px, 20px, 14px, 20px;
    width: 100%;
    height: 52px;
    border: 1px solid rgba(39, 41, 55, 0.35);
    border-radius: 8px;
    background: rgba(39, 41, 55, 0.05); color: rgba(39, 41, 55, 0.35);
}

.subscribe3 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px, 20px, 14px, 20px;
    width: 100%;
    height: 52px;
    border: 1px solid rgba(39, 41, 55, 0.35);
    border-radius: 8px;
    background: #1991FF; color: #FFFFFF;
}

.link {
    
    /* width: 102px;
    height: 20px; */
    border-bottom: rgba(39, 41, 55, 0.35);
    ;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.1px;
}

a:link {
    color: #272937;

}

a:visited {
    color: #272937;
    background-color: transparent;
}

#one {
    width: 100%;
    height: 1px;
    background: rgba(39, 41, 55, 0.12);
}

.faq {
    display: flex;
    gap: 24px;
    justify-content: space-between;
}

.faq1 {
    display: flex;
    flex-direction: column;

    padding: 0px;
    gap: 12px;
    width: 327.33px;
    height: 88px;
}

.t20semibold {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.8px;
}

.notification {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 16px;
    gap: 12px;
    position: absolute;
    /* width: 310px; */
    left: 740px;
    top: 840px;
    background: #FFFFFF;
    border: 1px solid rgba(39, 41, 55, 0.12);
    box-shadow: 0px 6px 24px rgba(39, 41, 55, 0.1);
    border-radius: 10px;
}

.emoji {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.notitex {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
}

.t16semibold {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.6px;
}

.t14medium {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.1px;
}
@media only screen and  (max-width: 1000px){
    .sidebar{
        display:none;
    }
}