.container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
 
body {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding: 0px 0px 40px;
    color: #272937;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 61px;
}

.T24Semibold {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -1px;
}

.T16Medium {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.6px;
}

.toptext {
    display: flex;
    position: absolute;
    padding-left: 100px;
    left: 2.0029296875px;
    border-radius: 0px;
}

.arrow {
    margin-right: 10px;
}

/* .headtext {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
    height: 32px;
    width: 82px;
} */

#one {
    width: 100%;
    height: 1px;
    background: rgba(39, 41, 55, 0.12);
}

.path {
    display: flex;
    align-items: flex-start;
    gap: 4px;
    margin-top: 32px;
}

/* .pathtext1 {
    width: 82px;
    height: 24px;
} */

.pathtext2 {
    color: rgba(39, 41, 55, 0.35);
}

.pathtext3 {
    color: rgba(39, 41, 55, 0.35);
}

.skip-track {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    display: flex;
    align-items: flex-start;
    gap: 134px;
    margin-top: 36px;
}

.leftcontainer {
    display: flex;
    flex-direction: column;
    gap: 36px;

}

.title {
    display: flex;
    justify-content: space-between;

}

/* .titletext {
    width: 83px;
} */

.titletext2 {
    color: rgba(39, 41, 55, 0.75);
    gap: 8px;
}


.t20semibold {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    /* identical to box height, or 140% */

    letter-spacing: -0.8px;

    /* Dark/Primary */

    color: #272937;

}

.t14regular {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.1px;

}

.t12regular {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.3px;

}

.email {
    box-sizing: border-box;
    border: 1px solid rgba(39, 41, 55, 0.12);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    width: 100%;
}

.t16regular {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.6px;

}

#checkbox {
    margin-right: 10px;
}

#two {
    width: 100%;
    height: 1px;
    background: rgba(39, 41, 55, 0.12);
    margin-top: 36px;
    margin-bottom: 0px;
}

.address {
    display: flex;
    flex-direction: column;
    gap: 32px;
    
}

/* .addhead {
    width: 157px;
    height: 28px;
} */

.name {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.firstname {
    display: flex;
    flex-direction: column;
}

.namebox {
    box-sizing: border-box;
    border: 1px solid rgba(39, 41, 55, 0.12);
    border-radius: 8px;
    /* height: 52px;
    width: 255px; */
    padding: 20px;
}

.namebox2 {
    /* width: 460px;
    height: 24px; */
    border: none;
}

.addr {
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.addbox {
    box-sizing: border-box;
    border: 1px solid rgba(39, 41, 55, 0.12);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 14px 14px 20px;
    gap:8px;
}



.wishes {
    box-sizing: border-box;
    border: 1px solid rgba(39, 41, 55, 0.12);
    border-radius: 8px;
    width: 100%;
    padding: 30px;
}

.merge {
    display: flex;
    justify-content: space-between;
    color: rgba(39, 41, 55, 0.35);
    align-items: center;
    box-sizing: border-box;
    border: 1px solid rgba(39, 41, 55, 0.12);
    border-radius: 8px;
    /* height: 52px;
    width: 526px; */
    padding: 20px;
}

.button1 {
    /* width: 190px;
    height: 52px; */
    display: flex;
    background: #1991FF;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    padding: 14px 20px;
    width: 30%;

}

.t16semibold {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.6px;
}

.btn1 {
    color: #FFFFFF;
}

.rightcontainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;

    /* width: 416px;
    height: 566px; */

}

.orderSummary {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    /* width: 416px;
    height: 264px; */
}

.item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

}

.isize {
    width: 72px;
    height: 72px;
    border-radius: 8px;
}

.iInfo {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
    padding: 0px;
    gap: 8px;

}

.t14semibold {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.1px;
}

.fLine {
    display: flex;
    justify-content: space-between;

}

#three {
    width: 100%;
    height: 1px;
    background: rgba(39, 41, 55, 0.12);
}

.couponcode {
    display: flex;
    gap: 16px;
    width: 100%;
}

.couponbox {
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 8px;
    width: 100%;
}

.cbox {
    background: #FFFFFF;
    border: 1px solid rgba(39, 41, 55, 0.12);
    border-radius: 8px;
    padding: 16px;
}

.button2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px 20px;
    background: #1991FF;
    border-radius: 8px;
    margin-top: 24px;
    border: none;
}

.btn2 {

    color: #FFFFFF;
}

.amount {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    width: 100%;
 
}

.t20regular {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.8px;
}

.abox {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.path1{
    display: flex;
    align-items: flex-start;
}
@media only screen and (max-width: 1200px) {
    .main{
        width:90%;
    }
    .path1{
        width: 90%;
    }
    #one{
        width: 100%;
    }
    header{
        width: 90%;
    }
}
@media only screen and (max-width: 1080px) {
    .main{
        width:100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .rightcontainer{
        display: flex;
        align-items: center;
        margin-top: 40px;
    }
    .title {
        display: flex;
        justify-content: space-between;
    
    }
    .toptext{
        padding-left: 35px;
    }
        
}
@media only screen and (max-width: 570px) {
    .main{
        width:100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 100px;
    }
    .leftcontainer{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .rightcontainer{
        display: flex;
        align-items: center;
        margin-top: 40px;
    }
    .title {
        display: flex;
        justify-content: space-between;
    
    }
    .name{
        display: flex;
        flex-direction: column;
    }
    .addr{
        display: flex;
        flex-direction: column;
    }
    #two {
        width: 100%;
        height: 1px;
        background: rgba(39, 41, 55, 0.12);
        margin-top: 36px;
        margin-bottom: 0px;
    }
    .title{
        width: 100%;
    } 
    .button1{
        width: 90%;
    }    
}
@media only screen and (max-width: 400px) {
    .toptext{
        padding-left: 4px;
        display: none;
    }
    .title{
        flex-direction: column;
    }
    .fLine{
        flex-direction: column;
    }
    .couponcode{
        flex-direction: column;
    }
    .abox{
        flex-direction: column;
    }
    .iInfo{
        margin-top: 0px;
    }

}